<div id="word-<%= n %>">
  <div><%= json.word %>
  <% if (json.wordTranscription) { %>
    [<%= json.wordTranscription %>] -
  <% } else { %>
    -
  <% } %>
  <% if (json.translations && !shorten) { %>
    <% if (!json.translations.null.includes(json.translation)) { %>
      <%= json.translation %>,
    <% } %>
    <%= json.translations.null.join(', ') %>
  </div>
  <% } else { %>
    <%= json.translation %></div>
  <% } %>
  <% if (shorten) { %>
    <% if (buttons) { %>
      <a href="" hx-get="/short?n=<%= n %>&word=<%= json.word %>&i=t" hx-target="#word-<%= n %>">Expand</a></div>
    <% } else { %>
      </div>
    <% } %>
  <% } else { %>
    <!-- Definitions -->
    <% if (json.definitions.null) { %>
      <p>Определения:</p><div> <%- json.definitions.null.join('</div><div>') %> </div>
    <% } %>
    <!-- Examples -->
    <% if (json.examples.length > 0) { %>
      <p>Примеры:</p><div> <%- json.examples.join('</div><div>') %> </div>
    <% } %>
    <% if (buttons) { %>
      <a href="" hx-get="/short?n=<%= n %>&word=<%= json.word %>" hx-target="#word-<%= n %>">Collapse</a></div>
    <% } else { %>
      </div>
    <% } %>
  <% } %>
</div>
